<!DOCTYPE html>
<html>
<head>
<link href="/css/debian.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/js/jquery-ui-1.13.2/jquery-ui.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.1.13.6.css"/>
<link rel="stylesheet" type="text/css" href="/css/buttons.2.4.1.dataTables.min.css"/>
<link href="/css/udd.css" rel="stylesheet" type="text/css">
<link href="/css/dmd.css" rel="stylesheet" type="text/css">
<title>Debian Maintainer Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link title="DMD" type="application/opensearchdescription+xml" rel="search" href="/dmd-opensearch.xml">
</head>
<body>
<div id="header">
  <div id="wikisection">
    <p class="section"><a href="/" title="Ultimate Debian Database">UDD</a></p>
  </div>
  <div id="upperheader">
    <div id="logo">
        <a href="https://www.debian.org" title="Debian Home"><img src="/img/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div>
  </div> <!-- end upperheader -->
  <div id="navbar">
    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
    <ul>
       <li><a href="/">Ultimate Database</a></li>
       <li><a href="/bugs/">Bugs search</a></li>
       <li><a href="/dmd/">Maintainer dashboard</a></li>
       <li><a href="/lintian/">Lintian</a></li>
    </ul>
  </div> <!-- end navbar -->
  <p id="breadcrumbs">&nbsp;Maintainer Dashboard</p> 
</div> <!-- end header -->

<div id="content">
    <h1 id='dashboard'>Maintainer dashboard</h1>
    <% if uddd %>
      <div id='quicknav'>
       <b>Navigation</b>:
       <a href="#todo">Todo list</a> /
       <a href="#details">Details</a>
     </div>
   <% end %>
   <p>The maintainer dashboard exposes information about teams' or maintainers' packages, to help answer the question: "I have a few hours for Debian, what should I do now?" To check it out, fill in one or more email addresses in the form below; for example, here is <a href="/dmd/?email1=debian-accessibility%40lists.debian.org&email2=pkg-a11y-devel%40lists.alioth.debian.org#todo">the accessibility team's todo list</a>.</p>

<form id="searchForm" action="/dmd/#todo" method="get">
<table>
<tbody>
  <%= ERB.new(File.read(File.expand_path('templates/dmd-form.erb')), nil, nil, '_erbout01').result(binding) %>
    <tr>
        <th>Format</th>
        <td>
         <label><input type='radio' name='format' value='html' checked> HTML</label>
         <label><input type='radio' name='format' value='json'> JSON</label>
         <label><input type='radio' name='format' value='yaml'> YAML</label>
         <label><input type='radio' name='format' value='rss'> RSS</label>
         <label><input type='radio' name='format' value='ics'> iCalendar</label>
        </td>
    </tr>
    <tr>
        <th>Filters</th>
        <td>
          <label><input type='checkbox' name='onlydev' <%= params['onlydev'] ? 'checked' : '' %>> Exclude packages not in unstable or experimental</label><br>
          <label><input type='checkbox' name='onlyrecent' <%= params['onlyrecent'] ? 'checked' : '' %>> Exclude packages not uploaded during the last month</label><br>
          <label><input type='checkbox' name='onlytesting' <%= params['onlytesting'] ? 'checked' : '' %>> Exclude packages not in testing</label><br>
          <label><input type='checkbox' name='onlysidnottesting' <%= params['onlysidnottesting'] ? 'checked' : '' %>> Include only packages in sid but not in testing</label><br>
          <label><input type='checkbox' name='onlykey' <%= params['onlykey'] ? 'checked' : '' %>> Include only key packages</label>
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            <input type='submit' value='Search' onsubmit="removeBlankFields(this);" class='btn-lg'/>
        </td>
    </tr>
</tbody>
</table>
</form>

<% if uddd %>

<h2 id='todo'>Todo list</h2>
<table class="display compact cell-border" id="todolist">
<thead>
<tr>
    <th>type</th>
    <th>source</th>
    <th>description</th>
    <th>hide</th>
</tr>
</thead>
<tbody class='todos'>
    <% uddd.dmd_todos.each do |t| %>
    <tr id="<%= t[:shortname] %>">
        <td class="nowrap"><%= t[:type] %></td>
        <td class="nowrap">
            <span title="<%= t[:reason] %>">
            <a href="https://tracker.debian.org/<%= ERB::Util::url_encode(t[:source]) %>"><%= t[:source] %></a>
            </span>
        </td>
        <% if t[:link] %>
            <td><%= t[:description] %>: <a href="<%= t[:link] %>"><%= t[:details] %></a></td>
        <% else %>
            <td><%= t[:description] %>: <%= t[:details] %></td>
        <% end %>
        <td><a href="#" onclick="hide_todo('<%= t[:shortname] %>'); return false;">hide</a></td>
    </tr>
    <% end %>
</tbody></table>
<p><small><a href="#todo" onclick="reset_todos()">Show all todos</a></small></p> 


<h2 id='details'>Details</h2>

<table class="display compact cell-border" id="dmddetails">
<thead>
<tr>
    <th rowspan="2">source</th>
    <th colspan="8" class="center">versions</th>
    <th colspan="4" class="center"><a href="/bugs/?release=na&merged=ign&dmd=1&cpopcon=1&cseverity=1&ctags=1&caffected=1&sortby=id&sorto=asc&<%= params['querystring'] %>">bugs</a></th>
    <th colspan="6" class="center"><a href="/lintian/?<%= params['querystring'] %>">lintian</a></th>
    <th rowspan="2" class="center">reprod</th>
    <th rowspan="2" class="center">piuparts</th>
    <th class="center">ci</th>
    <th colspan="4" class="center">security</th>
    <th colspan="3" class="center">Salsa</th>
    <th rowspan="2" class="center">URLs<br>(duck)</th>
    <th rowspan="2" class="center">Patches</th>
    <th rowspan="2" class="center">Popcon</th>
    <th rowspan="2" class="center">Last<br>upload</th>

    <th colspan="5" class="center">Ubuntu</th>
</tr>
<tr>
  <!-- versions -->
  <th class="center" style="width:20px"><%= uddd.dostb %></th>
  <th class="center"><%= uddd.dstb %></th>
  <th class="center"><%= uddd.dtst %></th>
  <th class="center">sid</th>
  <th class="center">experimental</th>
  <th class="center">vcs</th>
  <th class="center">upstream</th>
  <th class="center">mentors</th>

  <!-- bugs -->
  <th class="sorter-digit">all</th>
  <th>RC</th>
  <th>patch</th>
  <th>pend</th>
  <!-- lintian -->
  <th>E</th>
  <th>W</th>
  <th>I</th>
  <th>P</th>
  <th>X</th>
  <th>O</th>
  <!-- ci -->
  <th>sid/amd64</th>
  <!-- security -->
  <th><%= uddd.doostb[0..2] %></th>
  <th><%= uddd.dostb[0..2] %></th>
  <th><%= uddd.dstb[0..2] %></th>
  <th>sid</th>
  <!-- salsa -->
  <th>CI</th>
  <th>issues</th>
  <th>MR</th>

  <!-- derivs -->
  <th class="center">links</th>
  <th class="center">bugs</th>
  <th class="center">patches</th>
  <th class="center"><%= uddd.ustb %> (stable)</th>
  <th class="center"><%= uddd.udev %> (devel)</th>

</tr>
</thead>
<tbody>
<% uddd.sources.sort.each do |src,h| %>
    <%
     checks = uddd.qa[src] || {}
     sid_version = uddd.versions[src]['debian']['sid'][:version] rescue nil
   %>
    <% next if not uddd.versions.include?(src) %>
    <% next if not uddd.versions[src].include?('debian') %>
    <tr><td><a href="https://tracker.debian.org/<%= ERB::Util::url_encode(src) %>" title="<%= h[:reason] %>"><%= src %></a></td>

    <% h[:versions].each do |v| %>
      <%= v %>
    <% end %>

    <td>
    <% up = uddd.versions[src]['upstream'] %>
    <% if up %>
      <% if up[:status] == :error %>
        <span class="prio_high" title="uscan returned an error: <%= up[:warnings] %><%= up[:errors] %>">error</span>
      <% elsif up[:status] == :up_to_date %>
         <%= up[:version] %>
      <% elsif up[:status] == :newer_in_debian %>
          <span class="prio_high" title="Debian version newer than upstream version. debian/watch bug?"><%= up[:version] %></span>
      <% elsif up[:status] == :out_of_date %>
          <span class="prio_high" title="Newer upstream version available"><%= up[:version] %></span>
      <% elsif up[:status] == :out_of_date_in_unstable %>
          <span class="prio_med" title="Newer upstream version available (already packaged in experimental)"><%= up[:version] %></span>
      <% else %>
          "Unhandled case!"
      <% end %>
  <% end %>
      &nbsp;
    </td>
    <td>
    <% ment = uddd.versions[src]['mentors'] %>
    <% if ment %>
      <a href="https://mentors.debian.net/package/<%= ERB::Util::url_encode(src) %>"><span class="prio_high" title="uploaded <%= ment[:uploaded] %>, for <%= ment[:distribution] %>"><%= ment[:version] %></span></a>
    <% end %>
      &nbsp;
    </td>
    <!-- QA -->
  <% b = uddd.bugs_count[src] 
     buggraph = "<a href=\"https://qa.debian.org/data/bts/graphs/#{pooldir(src)}/#{ERB::Util::url_encode(src)}.png\"><img src=\"/img/bug-graph.png\" alt=\"bugs graph\"></a>"
     if b.nil? or b[:all] == 0 %>
      <td style="text-align: right;" class="nowrap"><a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= ERB::Util::url_encode(src) %>">0</a> <%= buggraph %></td>
      <!-- hack: colspans break tablesorter -->
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    <% else %>
    <td style="text-align: right;" class="nowrap"><a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= ERB::Util::url_encode(src) %>"><%= b[:all] %></a> <%= buggraph %></td>
    <td class="center"><a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= ERB::Util::url_encode(src) %>&amp;sev-inc=critical&amp;sev-inc=grave&amp;sev-inc=serious"><%= b[:rc] > 0 ? b[:rc] : '' %></a></td>
    <td class="center"><a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= ERB::Util::url_encode(src) %>&amp;include=tags:patch"><%= b[:patch] > 0 ? b[:patch] : '' %></a></td>
    <td class="center"><a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=<%= ERB::Util::url_encode(src) %>&amp;pend-inc=pending-fixed&amp;pend-inc=fixed"><%= b[:pending] > 0 ? b[:pending] : '' %></a></td>
  <% end %>


    <% if checks['lintian'] %>
      <td><a href="https://udd.debian.org/lintian/?<%= src %>"><%= checks['lintian']['error'] || '' %></a></td>
      <td><a href="https://udd.debian.org/lintian/?<%= src %>"><%= checks['lintian']['warning'] || '' %></a></td>
      <td><a href="https://udd.debian.org/lintian/?<%= src %>"><%= checks['lintian']['information'] || '' %></a></td>
      <td><a href="https://udd.debian.org/lintian/?<%= src %>"><%= checks['lintian']['pedantic'] || '' %></a></td>
      <td><a href="https://udd.debian.org/lintian/?<%= src %>"><%= checks['lintian']['experimental'] || '' %></a></td>
      <td><a href="https://udd.debian.org/lintian/?<%= src %>"><%= checks['lintian']['overridden'] || '' %></a></td>
    <% else %>
      <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
    <% end %>
    <% if checks['reproducible'] %>
      <td>
        <%
          checks['reproducible'].select { |e| e['status'] != 'reproducible' }.each do |e|
            # hacks to optimize horizontal space
            e['drelease'] = e['release']
            e['drelease'] = 'sid' if e['drelease'] == 'unstable'
            e['drelease'] = 'exp' if e['drelease'] == 'experimental'
            if e['status'] == 'unreproducible' %>
    <%= "<a href=\"https://tests.reproducible-builds.org/debian/rb-pkg/#{e['release']}/#{e['architecture']}/#{ERB::Util::url_encode(e['source'])}.html\" title=\"tested version: #{e['version']}\"><span class=\"prio_high_nobold\">#{e['drelease']}/#{e['architecture']}</span></a>" %>
         <% else %>
            <%= "<a href=\"https://tests.reproducible-builds.org/debian/rb-pkg/#{e['release']}/#{e['architecture']}/#{ERB::Util::url_encode(e['source'])}.html\" title=\"tested version: #{e['version']}\"><span class=\"prio_high_nobold\">#{e['drelease']}/#{e['architecture']}:#{e['status']}</span></a>" %>
          <% end 
          end %>
      </td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if checks['piuparts'] %>
      <td>
        <% checks['piuparts'].each do |ch| %>
        <a href="https://piuparts.debian.org/<%= ch %>/source/<%=pooldir(src) + '/' + ERB::Util::url_encode(src) %>.html"><span class="prio_high_nobold"><%=ch %></a></a>
        <% end %>
      </td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if checks['ci'] and checks['ci']['unstable/amd64'] %>
      <td><%= checks['ci']['unstable/amd64'][:html] %></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if checks['security'] %>
      <% [ uddd.doostb, uddd.dostb, uddd.dstb, 'sid'].each do |rel|
           if checks['security'][rel]
             d = checks['security'][rel] %>
           <td><a href="https://security-tracker.debian.org/tracker/source-package/<%= ERB::Util::url_encode(src) %>"><span class="<%= d['prio'] %>" title="<%= d['text'] %>"><%= d['total'] %></span></a></td>
        <% else %>
           <td>&nbsp;</td>
        <% end %>
      <% end %>
    <% else %>
      <!-- hack: colspans break tablesorter -->
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
    <% end %>
    <!-- salsa -->
    <% if checks['salsa'] %>
      <% d = checks['salsa'] %>
      <% if d['ci_status'] %>
        <% if d['ci_status'] == 'success' %>
          <td><a href="<%= d['ci_url'] %>"><span class="prio_ok_nobold">ok</span></a></td>
        <% else %>
          <td><a href="<%= d['ci_url'] %>"><span class="prio_high_nobold"><%= d['ci_status'] %></span></a></td>
        <% end %>
      <% else %>
          <td>&nbsp;</td>
      <% end %>
      <% if d['issues'] %>
        <td><a href="<%= d['browser'] %>/-/issues"><span class="prio_ok_nobold"><%= d['issues'] %></span></a></td>
      <% else %>
          <td>&nbsp;</td>
      <% end %>
      <% if d['merge_requests'] %>
        <td><a href="<%= d['browser'] %>/-/merge_requests"><span class="prio_ok_nobold"><%= d['merge_requests'] %></span></a></td>
      <% else %>
          <td>&nbsp;</td>
      <% end %>
    <% else %>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
    <% end %>
    <% if checks['duck'] %>
      <td><a href="http://duck.debian.net/sp/<%= "#{pooldir(src)}/#{pkg}" %>.html"><span class="prio_high_nobold">fail</span></a></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if checks['patches'] %>
      <td><a href="https://udd.debian.org/patches.cgi?src=<%= src %>&version=<%= ERB::Util::url_encode(sid_version)%>"><span <%= checks['patches']['needs-work'] > 0 ? 'class="prio_high_nobold"' : '' %>>
            <%= checks['patches']['needs-work'] %></span> / <%= checks['patches']['total'] %></a></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td class="nowrap"><%= checks['popcon'] %></td>
    <td class="nowrap"><%= checks['last_upload'] %></td>

  <!-- derivs -->
  <% 
      p = uddd.ubuntu.find { |p| p[:src] == src }
      if p.nil?
  %>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
     <% else %>
    <td><a href="<%= p[:launchpad] %>">LP</a></td>
    <% if p[:bugs] > 0 %>
        <td class="center"><a href="<%= p[:launchpad] %>"><%= p[:bugs] %></a></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <% if p[:patches] > 0 %>
        <td class="center"><a href="<%= p[:launchpad] %>/+patches"><%= p[:patches] %></a></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>

    <% p[:versions].each do |v| %>
        <%= v %>
    <% end %>

  <% end %>

    </tr>
<% end %>
</tbody>
</table>

<small><b>Generated in <%= sprintf "%.2f", Time::now - tstart %> seconds.</b></small><br/>

<% end %><!-- end if uddd -->
<br />
<br />
</div><!-- end content -->
<div id="footer">
<div id="fineprint">
    <p>
    Ultimate Debian Database:
    <a href="https://wiki.debian.org/UltimateDebianDatabase/"> hacking / bug reporting / contact information</a><br />
    Debian is a registered trademark of <a href="http://www.spi-inc.org/">Software in the Public Interest</a>
    </p>
</div>
</div>
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.1.13.6.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/js/dmd.js"></script>
<script type="text/javascript" src="/js/removeblankfields.js"></script>
<script type="text/javascript" src="/js/quicknav.js"></script>
<script type="text/javascript" src="/js/dataTables.buttons.2.4.1.min.js"></script>
<script type="text/javascript" src="/js/buttons.colVis.2.4.1.min.js"></script>
</body>
</html>
