table#dmddetails {
  width: 100%;
}

table#dmddetails thead th, table#todolist thead th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  text-align: center;
  font-size: 14px;
  padding: 2px;
}

table#dmddetails tbody td {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: center;
  overflow-wrap: anywhere;
}

table#todolist tbody td {
  padding: 2px;
  font-size: 14px;
  overflow-wrap: anywhere;
}
